services:
  model-repo:
    build:
      context: .
      dockerfile: Dockerfile
    ports:
      - "8900:8900"
    volumes:
      - ./models:/app/models
    restart: unless-stopped
    environment:
      - NODE_ENV=production
      - NODE_OPTIONS=--max-old-space-size=2048
    platform: linux/arm64
    mem_limit: 6g
    mem_reservation: 4g

